body {
    font-family: 'Segoe UI', sans-serif;
    background: #f3f3f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    background: #ffffff;
    padding: 35px 30px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
  }

  h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #042b4d;
  }

  input {
    width: 100%;
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
  }

  button {
    width: 100%;
    padding: 12px;
    background: #2a0044;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
      opacity: 0.7;
  }

  .info {
    text-align: center;
    font-size: 14px;
    color: #888;
    margin-top: 10px;
  }
